label {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
}

::-webkit-input-placeholder {
    color: white;
}

input {
    padding: 20px;
    margin: -10px auto;
    border: 0;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 3px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.col {
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header {
    width: 354px;
    text-align: center;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
}

.alert {
    width: 336px;
    height: 64px;
    text-align: center;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
}

#log_in,
#password_first {
    width: 160px;
    height: 64px;
    /*margin-left: 22em;*/
}

#sign_up,
#password_second {
    width: 160px;
    height: 64px;
    /*margin-right: 22em;*/
}

#username,
#password,
.btn {
    width: 336px;
    height: 64px;
}

.some {
    margin: 0 auto;
    width: 336px;
}

.some label {
    display: block;
    margin: 0px;
}

p {
    margin: 0 auto;
}