label {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

::-webkit-input-placeholder {
    color: white;
}

input, textarea{
    padding: 20px;
    margin: -5px auto;
    border: 0;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 3px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 50px;
}

.col {
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.alert {
    width: 336px;
    text-align: center;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
}

.btn, #value, #commend {
    width: 336px;
    height: 64px;
}