<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 404</title>
    <style>
        /* Styles of the 404 page of my website. */

        body {
            background: #081421;
            color: #d3d7de;
            font-family: "Courier new";
            font-size: 18px;
            line-height: 1.5em;
            cursor: default;
        }

        a {
            color: #fff;
        }

        .code-area {
            position: absolute;
            width: 320px;
            min-width: 320px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .code-area>span {
            display: block;
        }

        @media screen and (max-width: 320px) {
            .code-area {
                font-size: 5vw;
                min-width: auto;
                width: 95%;
                margin: auto;
                padding: 5px;
                padding-left: 10px;
                line-height: 6.5vw;
            }
        }
    </style>
</head>

<body>
    <div class="code-area">
        <span style="color: #777;font-style:italic;">
            // {{ error_text }}
        </span>
        <span>
            <span style="color:#4ca8ef;">
                if
            </span>
            <span style="color:#d65562;font-style: italic;">error</span><span style="color:#bdbdbd;">:</span>
        </span>
        <span>
            <span style="padding-left: 15px;color:#2796ec">
                <i style="width: 10px;display:inline-block"></i> print
            </span>
            <span>
                (<span style="color: #a6a61f">'u're looser</span>)
            </span>
            <span style="display:block"></span>
            <span style="color: #777;font-style:italic;">
                // Go away!
            </span>
        </span>
    </div>
</body>

</html>