{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename='css/login.css') }}>
{% endblock %}

{% block script %}
<script src={{ url_for('static', filename='js/login.js') }}></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="header">
                <label for="">
                    <input type="button" class="btn btn-dark log_in_btn" value="Log In" id="log_in">
                    <input type="button" class="btn btn-dark disabled sign_in_btn" value="Sign Up" id="sign_up">
                </label>
            </div>
        </div>
    </div>
    <form action="" method="post" novalidate>
        <div class="login_form">
            {{ login_form.hidden_tag() }}
            <div class="row">
                <div class="col">
                    <p>
                        <label for="">
                            <input id="username" name="username" type="text" placeholder="username">
                        </label>
                        {% for error in login_form.username.errors %}
                        <br>
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <label for="">
                            <input id="password" name="password" type="password" placeholder="password">
                        </label>
                        {% for error in login_form.password.errors %}
                        <br>
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% if not error[0] %}
                        <label for="">
                            <input class="btn btn-dark" type="submit" value="enter"></input>
                        </label>
                        {% else %}
                        <label for="">
                            <input class="btn btn-danger" type="submit" value="'invalid data' enter"></input>
                        </label>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </form>
    <form action="" method="post" novalidate>
        <div class="register_form">
            {{ register_form.hidden_tag() }}
            <div class="row">
                <div class="col">
                    <label for="">
                        <input id="username" name="username" type="text" placeholder="username" autocomplete="off">
                    </label>
                    {% for error in register_form.username.errors %}
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    <div class="some">
                        <label for="" style='float:left;'>
                            <input id="password_first" name="password_first" type="password" placeholder="password" autocomplete="off">
                        </label>

                        <label for="" style='float:right;'>
                            <input id="password_second" name="password_second" type="password" placeholder="repeat" autocomplete="off">
                        </label>
                    </div>
                    {% for error in register_form.password_first.errors %}
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% for error in register_form.password_second.errors %}
                    <br>
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    <label for="">
                        <input class="btn btn-dark" type="submit" value="enter"></input>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}