{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
    colors {
        --blue: #3D6EC9;
        --green: #1FA463;
        --yellow: #FFD04B;
        --lightblue: #4688F4;
    }

    label {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
    }

    ::-webkit-input-placeholder {
        color: white;
    }

    .spending {
        height: 7em;
        padding: 20px;
        margin: -5px auto;
        border: 0.75px;
        border-color: #343a40;
        border-style: solid;
        border-radius: 5px;
        text-align: center;
        letter-spacing: 3px;
        color: #343a40;
        width: 85vw;
        margin: 0.5em 0 0.5em;
    }

    .container {
        background: rgba(255, 255, 255, 0.2);
        max-width: 100vw;
        /*border-radius: 10px;
        padding: 50px;*/
    }

    .col {
        display: flex;
        justify-content: center;
    }

    .non-nav {
        margin-top: 2vh;
        height: 100vh;
        position: relative;
        /*display: flex;*/
        /*align-items: center;*/
        justify-content: center;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #343a40;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
    }

    .my-float {
        margin-top: 22px;
    }

    .navbar a {
        color: var(--blue);
    }

    .navbar {
        border-radius: 0 0 6px 6px;
    }

    .date {
        margin: 2em auto;
        position: relative;
        width: 376px;
        justify-content: center;
        display: flex;
    }

    .date input {
        font-size: 20px;
        text-align: center;
        letter-spacing: 4px;
        font-family: "Quicksand", sans-serif;
        display: inline;
    }

    .date label {
        font-style: italic;
        font-size: 14px;
        text-align: center;
        letter-spacing: 3px;
        justify-content: center;
        margin: 0;
    }

    .date #submit {
        font-size: 14px;
        letter-spacing: 3px;
        height: 34px;
        padding: 4px 8px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
        padding-top: 20px;
    }
</style>
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<div class="container">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="logo" style="font-size: 20px;">Financian</a>
        {% if "username" in session %}
        <a href="/logout" style="color: var(--blue);">
            {{ session['username'] }} logout
        </a>
        {% endif %}
    </nav>
    <div class="date">
        <form action="" method="post" novalidate>
            <div style="width:390px">
                {{date_form.hidden_tag()}}
                <div class="left">
                    <label for="datepicker">
                        format: DD/MM/YYYY
                    </label>
                    <!--<input id="date" class="datepicker" width="296" placeholder={{ date_came }} />-->
                    {{ date_form.date(class_="datepicker", width="296", placeholder=date_came, autocomplete="off") }}
                    <script>
                        $('.datepicker').datepicker();
                    </script>
                </div>
                <div class="right">
                    <input class="btn btn-dark" type="submit" id="submit" value="choose" name="submit">
                </div>
            </div>
        </form>
    </div>
    <div class="non-nav">
        {% for spending in spendings %}
        <div class="row">
            <div class="col my-col">
                <div class="spending">
                    <h2 style="float: left; position: absolute; margin-top: 0.5em; color: var(--blue);">
                        {{ spending[1] }}
                    </h2>
                    <p>
                        {{ spending[2] }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="/new" class="float">
        <i class="fa fa-plus my-float" style="color: #FFF;"></i>
    </a>
</div>
{% endblock %}