{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename='css/new.css') }}>
<style>
    label {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

::-webkit-input-placeholder {
    color: white;
}

input, textarea{
    padding: 20px;
    margin: -5px auto;
    border: 0;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 3px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 50px;
}

.col {
    display: flex;
    flex-direction: column;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.alert {
    text-align: center;
    width: 50%;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
}

.btn, #value, #commend {
    width: 336px;
    height: 64px;
}

textarea {
    padding: 20px;
    margin: -10px auto;
    border: 0;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 3px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.btn, #value, #commend {
    width: 336px;
    height: 64px;
}

#commend {
    height: 128px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                <label for="">
                    <input id="value" name="value" type="text" placeholder="value" autocomplete="off">
                </label>
                {% for error in form.value.errors %}
                <br>
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                <br>
                <label for="">
                    <textarea id="commend" name="commend" placeholder="write a commend" autocomplete="off"></textarea>
                </label>
                {% for error in form.commend.errors %}
                <br>
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                <br>
                <label for="">
                    <input id="submit" name="submit" type="submit" value="send" class="btn btn-dark">
                </label>
            </div>
        </div>
    </form>
</div>
{% endblock %}